.mid-box {
  padding-left: 105px;
  @media (min-width: 1025px) and (max-width: 1280px) {
    padding-left: calc(35px + (105 - 35) * ((100vw - 1025px) / (1280 - 1025)));
  }
  @media (min-width: 540px) and (max-width: 1024px) {
    padding-left: calc(12px + (98 - 12) * ((100vw - 540px) / (1024 - 540)));
  }
    
}
.mid-header {
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #25323D;
}
.interests {
  display: flex;
    flex-wrap: wrap;
    max-width: 595px;
}
.interests_mrpd {
  margin-top: 10px;
}
.iter-slot {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  background: #C0E0F6;
  border-radius: 9px;
  white-space: nowrap;
}
.iter-slot_mrpd {
  padding: 3px 8px;
  margin-right: 4px;
  margin-top: 8px;
}